{% extends 'base.html' %}

{% block content %}
<div class="my-tasks-list">
    <h1>My Tasks</h1>
    {% if tasks.all|length == 0 %}
    <p>You have no tasks</p>
    {% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
        </tr>
        {% for task in tasks.all %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.start_date }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.is_completed|yesno:"yes,no" }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
    </main>
</body>

</html>
